<table class="table">
    <thead>
        <tr>
            <th>Araç Id</th>
            <th>Marka Id</th>
            <th>Renk Id</th>
            <th>Model Yılı</th>
            <th>Ücret</th>
            <th>Açıklama</th>
            <th>Araç Adı</th>
        </tr>
    </thead>
    <tr *ngFor = "let car of cars">
       <td class="col-md-3">{{car.carId}}</td>
       <td class="col-md-3">{{car.brandId}}</td>
       <td class="col-md-3">{{car.colorId}}</td>
       <td class="col-md-3" >{{car.modelYear}}</td>
       <td class="col-md-3">{{car.dailyPrice}}</td>
       <td class="col-md-3">{{car.descriptions}}</td>
       <td class="col-md-3">{{car.carName}}</td>
    </tr>
</table>
